<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2 class="section-title">About Me</h2>
    <p style="color: #e0e0e0;">Motivated Network and Systems Engineering student passionate about networking, IT infrastructure, and cybersecurity.</p>
    <p style="margin-top:16px; color:#aaa;">Eager to apply my technical knowledge, develop practical skills, and contribute to innovative projects while continuously learning and growing.</p>

    <h3 style="margin-top: 40px; margin-bottom: 16px; color: rgb(75, 74, 74);">Skills</h3>
<div class="skills">
    <span class="skill-tag">Python</span>
    <span class="skill-tag">C</span>
    <span class="skill-tag">HTML</span>
    <span class="skill-tag">CSS</span>
    <span class="skill-tag">JavaScript</span>
    <span class="skill-tag">Networking</span>
    <span class="skill-tag">Linux</span>
    <span class="skill-tag">CTF</span>
</div>

<h3 style="margin-top: 40px; margin-bottom: 16px;color: rgb(75, 74, 74);">Education</h3>
<p style="color: #e0e0e0;">Institut Superieur d'Informatique </p>
<p style="color: #aaa; margin-top: 8px;">Network & Systems Engineering</p>
</body>
</html>