<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section class="hero">
        <p style="color: #00ff88; margin-bottom: 10px;">Hi, I'm</p>
        <h1>Emna <span>Haouem</span></h1>
        <h1 style="color: #aaa; font-size: 35px;">Network & Systems Engineering student</h1>
        <p>Learn, Build, Manage, Troubleshoot and Secure computer networks, servers and IT infrastructure.</p>
        <div>
            <a href="/projects" class="btn">View My Work</a>
            <a href="/contact" class="btn" style="margin-left:16px ; background-color: #00ff88;border: 1px solid #00ff88;">Contact Me</a>
        </div>
    </section>
</body>
</html>