<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2 class="section-title">Projects</h2>
<div class="projects-grid">
    <div class="project-card">
        <h3 style="color: rgb(69, 66, 66);">Python Web Framework</h3>
        <p>Built the HTTP framework that handles requests and responses, the router that matches URLs to functions, the middleware pipeline
            , the template engine that renders HTML, the portflio website on top of it and added a real email sending via Gmail
        </p>
        <a href="#">View on GitHub</a>
    </div>
    
</div>
</body>
</html>